---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Nvbar from "../components/Nvbar.astro";
import ImagesSection from "../components/ImagesSection.astro";
import MainSection from "../components/MainSection.astro";
import DetailSection from "../components/DetailSection.astro";
import Certification from "../components/Certification.astro";
import Business from "../components/Business.astro";
import Footer from "../components/Footer.astro";
import NewCorousel from "../components/NewCorousel.astro";
import ShortVedio from "../components/ShortVedio.astro";
---

<Layout title="Green Agri Corp Pvt. Limited.">
  <Header />
  <Nvbar />
  <div class="p-12 w-full"></div>
  <NewCorousel />
  <MainSection />
  <DetailSection />
  <Certification />
  <ShortVedio />
  <Business />
  <ImagesSection />
  <Footer />
</Layout>

<style></style>
