---
import Button from "./ui//Button.astro";
---

<!-- Our Business Section -->
<section class="py-8 w-full">
    <!-- heading -->
    <div data-aos="fade-up">Hello, AOS Animation!</div>
    <div class="text-center text-3xl font-semibold mt-14">
        <h2 class="hover:text-green-700">Our-Business</h2>
        <div class="w-24 h-2 bg-green-700 mx-auto mt-4 rounded-lg"></div>
    </div>

    <!-- boxes -->

    <div class="flex flex-wrap justify-between w-[90vw] mx-auto gap-2 mt-14">
        <div
            class="w-[400px] h-auto border border-slate-500 rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:shadow-2xl hover:border-green-500 transition-all duration-300"
        >
            <img
                src="/public/image-8.jpg"
                alt="Descriptive Alt Text"
                class="w-[395px] h-auto p-4 object-cover transition-transform duration-300"
            />
            <div class="p-4">
                <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                    Biryani Rice
                </h3>
                <p class="text-gray-600 leading-relaxed text-sm">
                    At Green Corp, our business focuses on delivering
                    high-quality, sustainable agricultural products to our
                    clients worldwide. We strive to make a positive impact in
                    the community through innovation and responsible practices
                    that nurture both the land and the people who depend on it.
                </p>
            </div>
        </div>

        <div
            class="w-[400px] h-auto border border-slate-500 rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:border-green-500 hover:shadow-2xl transition-all duration-300"
        >
            <img
                src="/public/image-9.jpg"
                alt="Descriptive Alt Text"
                class="w-[395px] h-auto p-4"
            />
            <div class="p-4">
                <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                    Diamond Rice
                </h3>
                <p class="text-gray-600 leading-relaxed text-sm">
                    At Green Corp, our business focuses on delivering
                    high-quality, sustainable agricultural products to our
                    clients worldwide. We strive to make a positive impact in
                    the community through innovation and responsible practices
                    that nurture both the land and the people who depend on it.
                </p>
            </div>
        </div>

        <div
            class="w-[400px] h-auto border border-slate-500 rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:border-green-500 hover:shadow-2xl transition-all duration-300"
        >
            <img
                src="/public/image-10.jpg"
                alt="Descriptive Alt Text"
                class="w-[395px] h-auto p-4 object-cover transition-transform duration-300"
            />
            <div class="p-4">
                <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                    Platinum Rice
                </h3>
                <p class="text-gray-600 leading-relaxed text-sm">
                    At Green Corp, our business focuses on delivering
                    high-quality, sustainable agricultural products to our
                    clients worldwide. We strive to make a positive impact in
                    the community through innovation and responsible practices
                    that nurture both the land and the people who depend on it.
                </p>
            </div>
        </div>

        <div
            class="w-[400px] h-auto border border-slate-500 rounded-lg overflow-hidden shadow-lg hover:scale-105 hover:border-green-500 hover:shadow-2xl transition-all duration-300"
        >
            <img
                src="/public/image-11.jpg"
                alt="Descriptive Alt Text"
                class="w-[395px] h-auto p-4 object-cover transition-transform duration-300"
            />
            <div class="p-4">
                <h3 class="text-2xl font-semibold text-gray-800 mb-2">
                    Gold Rice
                </h3>
                <p class="text-gray-600 leading-relaxed text-sm">
                    At Green Corp, our business focuses on delivering
                    high-quality, sustainable agricultural products to our
                    clients worldwide. We strive to make a positive impact in
                    the community through innovation and responsible practices
                    that nurture both the land and the people who depend on it.
                </p>
            </div>
        </div>
    </div>
</section>
