---
import { FaPhoneAlt, FaEnvelope, FaMapMarkerAlt, FaBars } from "react-icons/fa";
import Logo from "./Logo.astro";
---

<!-- 
<div
  class="md:hidden bg-black text-slate-300 p-2 flex justify-between items-center px-3 flex-wrap"
>
  <div class="flex items-center space-x-2">
    <FaEnvelope className="w-4 h-4" />
    <span>contact@greencorp.com</span>
  </div>
  <div class="flex items-center space-x-2">
    <FaMapMarkerAlt className="w-4 h-4" />
    <span>123 Green Street, AgriCity</span>
  </div>
</div>
<header
  class="poppins-regular bg-gradient-to-bl from-[#06599F] via-[#1c3c58] to-[#022039] p-4 flex items-center justify-between px-5"
>
  <Logo />

  
  <div class="md:hidden stroke-white text-white">
    <FaBars size={42} />
  </div>
  <div class="hidden md:flex flex-col items-end text-white space-y-2">
  
    <div class="flex items-center space-x-4">
      <span>contact@greencorp.com</span>
      <FaEnvelope className="w-5 h-5" />
    </div>
  
    <div class="flex items-center space-x-4">
      <span>123 Green Street, AgriCity</span>
      <FaMapMarkerAlt className="w-5 h-5" />
    </div>
  </div>
</header> -->
