<section class="w-full">
    <div class="relative p-10 w-[90vw] mx-auto mt-10 mb-10">
        <!-- Collage Container -->
        <div class="grid grid-cols-12 gap-4">
            <!-- First Row -->
            <div class="col-span-4 relative">
                <img
                    src="/public/image-13.jpeg"
                    alt="Image 1"
                    class="w-full h-56 object-cover rounded-lg shadow-lg"
                />
                <div class="absolute top-4 left-4">
                    <img
                        src="image-16.jpg"
                        alt="Image 2"
                        class="w-32 h-32 object-cover rounded-lg shadow-lg border-4 border-white"
                    />
                </div>
            </div>
            <div class="col-span-4 relative">
                <img
                    src="/public/image-14.jpg"
                    alt="Image 3"
                    class="w-full h-60 object-cover rounded-lg shadow-lg"
                />
                <div class="absolute -bottom-4 left-4">
                    <img
                        src="image-21.jpg"
                        alt="Image 4"
                        class="w-32 h-32 object-cover rounded-lg shadow-lg border-4 border-white"
                    />
                </div>
            </div>
            <div class="col-span-4 relative">
                <img
                    src="/public/image-15.jpeg"
                    alt="Image 5"
                    class="w-full h-44 object-cover rounded-lg shadow-lg"
                />
            </div>

            <!-- Second Row -->
            <div class="col-span-3 relative">
                <img
                    src="/public/image-16.jpg"
                    alt="Image 6"
                    class="w-full h-48 object-cover rounded-lg shadow-lg"
                />
            </div>
            <div class="col-span-6 relative">
                <img
                    src="image-17.jpeg"
                    alt="Image 7"
                    class="w-full h-72 object-cover rounded-lg shadow-lg"
                />
                <div class="absolute top-6 right-6">
                    <img
                        src="image-18.jpg"
                        alt="Image 8"
                        class="w-32 h-32 object-cover rounded-full shadow-lg border-4 border-white"
                    />
                </div>
            </div>
            <div class="col-span-3 relative">
                <img
                    src="image-19.jpg"
                    alt="Image 9"
                    class="w-full h-48 object-cover rounded-lg shadow-lg"
                />
            </div>

            <!-- Third Row -->
            <div class="col-span-4 relative">
                <img
                    src="image-20.jpg"
                    alt="Image 10"
                    class="w-full h-60 object-cover rounded-lg shadow-lg"
                />
                <div class="absolute top-6 left-6">
                    <img
                        src="image-21.jpg"
                        alt="Image 11"
                        class="w-32 h-32 object-cover rounded-lg shadow-lg border-4 border-white"
                    />
                </div>
            </div>
            <div class="col-span-4">
                <img
                    src="image-11.jpg"
                    alt="Image 12"
                    class="w-full h-48 object-cover rounded-lg shadow-lg"
                />
            </div>
            <div class="col-span-4 relative">
                <img
                    src="image-20.jpg"
                    alt="Image 13"
                    class="w-full h-60 object-cover rounded-lg shadow-lg"
                />
                <div class="absolute -top-[72px] right-32">
                    <img
                        src="image-19.jpg"
                        alt="Image 14"
                        class="w-36 h-36 object-cover rounded-full shadow-lg border-4 border-white"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
