<section class="w-full">
    <div
        class="video-section w-[50vw] mx-auto shadow-[0_6px_12px_rgba(0,0,0,0.18)] bg-[#FFFFFF] py-10 px-6 flex justify-center items-center"
    >
        <video
            class="rounded-lg w-full max-w-4xl h-auto"
            controls
            autoplay
            loop
            muted
        >
            <source src="/public/myvideo.mov" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</section>
